<form method="post" action="/signup">
	<h1>SIGN UP</h1>
	<label for="username">Username</label>
	<input type="text" name="username" id="username" required><br>
	<label for="email">Email</label>
	<input type="email" name="email" id="email" required><br>
	<label for="password">Password</label>
	<input type="password" name="password" id="password" required><br>
	<input type="submit" value="SIGN UP">
</form>

<form method="post" action="/signin">
	<h1>SIGN IN</h1>
	<label for="email">Email</label>
	<input type="email" name="email" id="email" required><br>
	<label for="password">Password</label>
	<input type="password" name="password" id="password" required><br>
	<input type="submit" value="SIGN IN">
</form>