<% if(users) { %>
<% for(let userX of users) { %>
<h1>
Username: <%=userX.usernameX%>
<br>
Email: <%=userX.emailX%>
<br>
Password: <%=userX.passwordX%>
<br>
Id: <%=userX.idX%>
<br>
</h1>
<% } %>
<% } else { %>
<h1>USERS DOES NOT EXIST</h1>
<% } %>
