<% if(users) { %>
<% for(let userX of users) { %>
<h1>
Username: <%=userX.username%>
<br>
Email: <%=userX.email%>
<br>
Password: <%=userX.password%>
<br>
Id: <%=userX.id%>
<br>
</h1>
<% } %>
<% } else { %>
<h1>USERS DOES NOT EXIST</h1>
<% } %>
